body {
	background-color: #F4C2C2;
	margin: 0;
	text-align: center;
	width: 100%;
	font-family: 'Sintony';
}
@font-face {
    font-family: akrobat;
    src: url(akrobat/Akrobat-SemiBold.otf);
}

#menu {
	margin:5em;
	white-space:nowrap;
	list-style-type: none;
}

#menu li a {
	margin: 5em;
	text-decoration: none;
	background: #F4C2C2;
	color: white;
	font-family: 'Sintony';
	font-size: 3rem;
	transition: 0.4s;
}
#menu li a:hover {
	color:#C08081;
}

p {
	text-align: center;
	font-family: 'Sintony';
	font-size: 2rem;
	color: white;
	padding: 0;
	margin: 0;
}
#myName:hover {
	color:#C08081;
}
#myName {
	text-shadow: 1px 4px 6px #C08081;
	text-align: center;
	font-family: 'Lobster', cursive;
	letter-spacing: -.5rem;
	font-size:12rem;
	font-weight: regular;
	color: white;
	transition: 0.4s;
}
.FrontPage {
	padding = 0;
	margin = 0;
}
